<div id="searchResult" class="col-md-12">
    <div id="searchResultInner">
        <img src="{{itemObject.item.icon_large}}">
        <h1>{{itemObject.item.name}}</h1>
        Members Only? : {{itemObject.item.members}}
        <p>Examine: {{itemObject.item.description}}</p>

        <h4>Market Trends for {{itemObject.item.name}}</h4>
        <div class="alert alert-info">
            Current Market Price: <b>{{itemObject.item.current.price}}</b><br>
        </div>

        <div ng-if="itemObject.item.today.trend == 'positive'" class="alert alert alert-success">
            Generl Movement Today: <b>{{itemObject.item.today.trend}}</b>
            <span class="glyphicon glyphicon-arrow-up up"></span>
        </div>
        <div ng-if="itemObject.item.today.trend == 'negative'" class="alert alert alert alert-danger">
            Generl Movement Today: <b>{{itemObject.item.today.trend}}</b>
            <span class="glyphicon glyphicon-arrow-down down"></span>
        </div>
        <div ng-if="itemObject.item.today.trend == 'neutral'" class="alert alert alert-success">
            Generl Movement Today: <b>{{itemObject.item.today.trend}}</b>
            <span class="glyphicon glyphicon-arrow-right middle"></span>
        </div>


        <!-- styled market indicators -->


            <table class="table table-hover table-striped">
                <tr>
                    <th>1 Day:</th>
                    <td>{{itemObject.item.today.price}}</td>
                    <td>
                        <span ng-if="itemObject.item.today.trend == 'positive'" class="glyphicon glyphicon-arrow-up    up"></span>
                        <span ng-if="itemObject.item.today.trend == 'negative'" class="glyphicon glyphicon-arrow-down  down"></span>
                        <span ng-if="itemObject.item.today.trend == 'neutral'" class="glyphicon glyphicon-arrow-right middle"></span>
                    </td>
                </tr>
                <tr>
                    <th>30 Day</th>
                    <td>{{itemObject.item.day30.change}}</td>
                    <td>
                        <span ng-if="itemObject.item.day30.change.indexOf('+') > -1" class="glyphicon glyphicon-arrow-up    up"></span>
                        <span ng-if="itemObject.item.day30.change.indexOf('-') > -1" class="glyphicon glyphicon-arrow-down  down"></span>
                    </td>
                </tr>
                <tr>
                    <th>90 Day</th>
                    <td>{{itemObject.item.day90.change}}</td>
                    <td>
                        <span ng-if="itemObject.item.day90.change.indexOf('+') > -1" class="glyphicon glyphicon-arrow-up    up"></span>
                        <span ng-if="itemObject.item.day90.change.indexOf('-') > -1" class="glyphicon glyphicon-arrow-down  down"></span>
                    </td>

                </tr>
                <tr>
                    <th>180 Day</th>
                    <td>{{itemObject.item.day180.change}}</td>
                    <td>
                        <span ng-if="itemObject.item.day180.change.indexOf('+') > -1" class="glyphicon glyphicon-arrow-up    up"></span>
                        <span ng-if="itemObject.item.day180.change.indexOf('-') > -1" class="glyphicon glyphicon-arrow-down  down"></span>
                    </td>
                </tr>
            </table>

            <div ng-controller="LineCtrl">
                <canvas id="line" class="chart chart-line" chart-data="data" ></canvas>
            </div>


    </div>
</div>
