<div id="searchResult" class="col-md-12">
    <div id="searchResultInner">

        <div class="row">
            <div class="col-md-1">
                <img class="rsPic" src="{{itemObject.item.icon_large}}">
            </div>
            <div class="col-md-11">
                <h1>{{itemObject.item.name}}</h1>
                <b>Members:</b>  {{itemObject.item.members}}
                <p><b>Examine:</b> {{itemObject.item.description}}</p>
            </div>
        </div>

        <h4>Market Trends for {{itemObject.item.name}}</h4>
        <div class="alert alert-info">
            Current Market Price: <b>{{itemObject.item.current.price}}</b><br>
        </div>

        <div ng-if="itemObject.item.today.trend == 'positive'" class="alert alert alert-success">
            Generl Movement Today: <b>{{itemObject.item.today.trend}}</b>
            <span class="glyphicon glyphicon-arrow-up up"></span>
        </div>
        <div ng-if="itemObject.item.today.trend == 'negative'" class="alert alert alert alert-danger">
            Generl Movement Today: <b>{{itemObject.item.today.trend}}</b>
            <span class="glyphicon glyphicon-arrow-down down"></span>
        </div>
        <div ng-if="itemObject.item.today.trend == 'neutral'" class="alert alert alert-success">
            Generl Movement Today: <b>{{itemObject.item.today.trend}}</b>
            <span class="glyphicon glyphicon-arrow-right middle"></span>
        </div>


        <!-- styled market indicators -->


            <table class="table table-hover table-striped">
                <tr>
                    <th>1 Day:</th>
                    <td>{{itemObject.item.today.price}}</td>
                    <td>
                        <span ng-if="itemObject.item.today.trend == 'positive'" class="glyphicon glyphicon-arrow-up    up"></span>
                        <span ng-if="itemObject.item.today.trend == 'negative'" class="glyphicon glyphicon-arrow-down  down"></span>
                        <span ng-if="itemObject.item.today.trend == 'neutral'" class="glyphicon glyphicon-arrow-right middle"></span>
                    </td>
                </tr>
                <tr>
                    <th>30 Day</th>
                    <td>{{itemObject.item.day30.change}}</td>
                    <td>
                        <span ng-if="itemObject.item.day30.change.indexOf('+') > -1" class="glyphicon glyphicon-arrow-up    up"></span>
                        <span ng-if="itemObject.item.day30.change.indexOf('-') > -1" class="glyphicon glyphicon-arrow-down  down"></span>
                    </td>
                </tr>
                <tr>
                    <th>90 Day</th>
                    <td>{{itemObject.item.day90.change}}</td>
                    <td>
                        <span ng-if="itemObject.item.day90.change.indexOf('+') > -1" class="glyphicon glyphicon-arrow-up    up"></span>
                        <span ng-if="itemObject.item.day90.change.indexOf('-') > -1" class="glyphicon glyphicon-arrow-down  down"></span>
                    </td>

                </tr>
                <tr>
                    <th>180 Day</th>
                    <td>{{itemObject.item.day180.change}}</td>
                    <td>
                        <span ng-if="itemObject.item.day180.change.indexOf('+') > -1" class="glyphicon glyphicon-arrow-up    up"></span>
                        <span ng-if="itemObject.item.day180.change.indexOf('-') > -1" class="glyphicon glyphicon-arrow-down  down"></span>
                    </td>
                </tr>
            </table>

            <div ng-controller="MainCtrl" class="chartWrap">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <h3>30 Day History</h3>
                    <canvas id="day30" class="chart chart-line" chart-data="day30Data" chart-labels="day30Labels"></canvas>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <h3>90 Day History</h3>
                    <canvas id="day90" class="chart chart-line" chart-data="day90Data" chart-labels="day90Labels"></canvas>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <h3>180 Day History</h3>
                    <canvas id="day180" class="chart chart-line" chart-data="day180Data" chart-labels="day180Labels"></canvas>
                </div>
            </div>
    </div>
</div>
